.aside__directionkeypad{
  margin-bottom: 1rem;
  .aside__directiontitle{
    color: #cb7d80;
    font-weight: 700;
  }
  .aside__buttonrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}



