.aside__themekeypad{
  margin-bottom: .5rem;
  .aside__themetitle{
    color: #cb7d80;
    font-weight: 700;
  }
  .aside__colorsrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .aside__namescol{
    
  }
}