@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Comfortaa", cursive;
}
* main {
  display: flex;
  position: relative;
}
* main .aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  overflow: scroll;
  border: 1px solid gainsboro;
}
* main .aside .aside__title {
  background-color: #cb7d80;
  color: white;
  font-weight: 300;
  width: 190px;
  margin-top: 2rem;
}
* main .aside .aside__keypads {
  padding: 1rem 2rem;
}
* main .colorblock {
  position: absolute;
  right: 0;
  height: 100vh;
  width: calc(100vw - 401px);
}
